<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Database aggregator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>

    var totalProcessed, totalExtracted, intervalAggregateUpdate, intervalExtractUpdate;
    var finished = false;
    var startTime, endTime;

    // Starting data aggregating process
    function startAggregating() {
        totalProcessed = 0;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "start-aggregating", true);
        xhr.send();
        intervalAggregateUpdate = setInterval(aggregateUpdate, 100);
    }

    function aggregateUpdate() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "current-progress-aggregate", false);
        xhr.send();
        if (xhr.status == 200) {
            var bar = document.getElementById('aggregationBar');
            bar.style.width = xhr.responseText + '%';
            bar.setAttribute("aria-valuenow", xhr.responseText + '%');
            bar.innerHTML = xhr.responseText + '%';
            if (xhr.responseText == '100') {
                finished = true;
                clearInterval(intervalAggregateUpdate);
                endTime = new Date();
                var timeDiff = endTime - startTime;
                timeDiff /= 1000;
                var hours = Math.floor(timeDiff / 3600);
                var minutes = Math.floor((timeDiff - hours * 3600) / 60);
                var seconds = Math.floor(timeDiff - hours * 3600 - minutes * 60);
                var timeString = hours.toString() + ":" + minutes.toString() + ":" + seconds.toString();
                var timeElapsed = document.getElementById('timeElapsed');
                timeElapsed.innerHTML += timeString;
                timeElapsed.style.display = "inline";
            }
        }
    }

    // Start extracting patent archives
    function startExtracting() {
        startTime = new Date();
        document.getElementById('extractButton').disabled = true;
        totalExtracted = 0;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "start-extracting", true);
        xhr.send();
        intervalExtractUpdate = setInterval(extractUpdate, 2000);
    }

    function extractUpdate() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "current-progress-extract", false);
        xhr.send();
        if (xhr.status == 200) {
            var bar = document.getElementById('extractionBar');
            bar.style.width = xhr.responseText +'%';
            bar.setAttribute("aria-valuenow", xhr.responseText + '%');
            bar.innerHTML = xhr.responseText + '%';
            if (xhr.responseText == '100') {
                clearInterval(intervalExtractUpdate);
                document.getElementById('archivesList').style.display = 'none';
                startAggregating();
            }
        }
    }

    //Event listeners for button clicks
    window.onload = function() {
        document.getElementById('extractButton').addEventListener('click', startExtracting, false);
        document.getElementById('aggregateButton').addEventListener('click', startAggregating, false);
    }
    </script>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<p th:text="'Working directory: ' + ${path} " />
<table id="archivesList">
    <tr th:each="archive, iterStat: ${archives}">
        <td th:text="${iterStat.index} + 1"></td>
        <td th:text="${archive}"></td>
    </tr>
</table>
<form>
    <p>Extraction progress:</p>
    <div id='extractionProgressBar' class="progress" style="height:25px">
        <div id='extractionBar' class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width:0%;height:25px">0%
        </div>
    </div>
    <br/>
    <p>Aggregation progress:</p>
    <div id='aggregationProgressBar' class="progress" style="height:25px">
        <div id='aggregationBar' class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width:0%;height:25px">0%
        </div>
    </div>
    <br/>
    <br/>
    <button type="button" id="extractButton" class="btn" enabled>Aggregate</button>
    <br/>
    <p id="timeElapsed" style="display:none">Aggregation completed in </p>
</form>
</body>
</html>