<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of compounds</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<h2>List of compounds</h2>
<a href="/">Back to main page</a><br/><br/>
<a th:if="${pageNum} != 1" th:bgcolor="grey" th:href="@{/compound-list(page=${pageNum} - 1)}">previous page</a>
<a th:if="${pageNum} != ${pages}" th:bgcolor="grey" th:href="@{/compound-list(page=${pageNum} + 1)}">next page</a>
<br/>
<br/>
<table id="compoundsList">
    <tr th:each="compound, iterStat: ${compounds}">
        <td><h4><a th:text="${compound.SMILES.Formula}" th:href="@{'/compounds/'+${compound.Id}}" ></a></h4></td>
    </tr>
</table>
</body>
</html>