<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compound info</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
    <script>
        var cropped = false;
        function cropImage() {
            if (cropped)
                return;
            var image = document.getElementById('compoundImage');
            cropped = true;
            image.src = removeImageBlanks(image);
        };
        // Скрипт обрезки изображения с химическим соединением
        function removeImageBlanks(imageObject) {
            imgWidth = imageObject.width;
            imgHeight = imageObject.height;
            var canvas = document.createElement('canvas');
            canvas.setAttribute("width", imgWidth);
            canvas.setAttribute("height", imgHeight);
            var context = canvas.getContext('2d');
            context.drawImage(imageObject, 0, 0);

            var imageData = context.getImageData(0, 0, imgWidth, imgHeight),
                data = imageData.data,
                getRBG = function(x, y) {
                    var offset = imgWidth * y + x;
                    return {
                        red:     data[offset * 4],
                        green:   data[offset * 4 + 1],
                        blue:    data[offset * 4 + 2],
                        opacity: data[offset * 4 + 3]
                    };
                },
                isWhite = function (rgb) {
                    return rgb.red > 200 && rgb.green > 200 && rgb.blue > 200;
                },
                        scanY = function (fromTop) {
                var offset = fromTop ? 1 : -1;

                for(var y = fromTop ? 0 : imgHeight - 1; fromTop ? (y < imgHeight) : (y > -1); y += offset) {

                    for(var x = 0; x < imgWidth; x++) {
                        var rgb = getRBG(x, y);
                        if (!isWhite(rgb)) {
                            if (fromTop) {
                                return y;
                            } else {
                                return Math.min(y + 1, imgHeight - 1);
                            }
                        }
                    }
                }
                return null;
            },
            scanX = function (fromLeft) {
                var offset = fromLeft? 1 : -1;

                for(var x = fromLeft ? 0 : imgWidth - 1; fromLeft ? (x < imgWidth) : (x > -1); x += offset) {

                    for(var y = 0; y < imgHeight; y++) {
                        var rgb = getRBG(x, y);
                        if (!isWhite(rgb)) {
                            if (fromLeft) {
                                return x;
                            } else {
                                return Math.min(x + 1, imgWidth - 1);
                            }
                        }
                    }
                }
                return null;
            };

            var cropTop = scanY(true),
                cropBottom = scanY(false),
                cropLeft = scanX(true),
                cropRight = scanX(false),
                cropWidth = cropRight - cropLeft,
                cropHeight = cropBottom - cropTop;

            canvas.setAttribute("width", cropWidth);
            canvas.setAttribute("height", cropHeight);
            canvas.getContext("2d").drawImage(imageObject,
                cropLeft, cropTop, cropWidth, cropHeight,
                0, 0, cropWidth, cropHeight);
            return canvas.toDataURL();
        }
    </script>
    <script>
        function showMol() {
            document.getElementById('showButton').setAttribute('onclick', 'hideMol()');
            var molFile = document.getElementById('molFile');
            molFile.style.display = "inline";
        }
        function hideMol() {
            document.getElementById('showButton').setAttribute('onclick', 'showMol()');
            var molFile = document.getElementById('molFile');
            molFile.style.display = "none";
        }
    </script>
</head>
<body>
<div style="margin-left:20px;margin-top:10px">
    <h2>Compound info</h2>
    <br/>
    <br/>
    <a th:href="@{/compound-list(page=${fromPage})}">Back to the list of compounds</a>
    <br/>
    <br/>
    <table border="1" style="border-color:lightblue">
        <tr>
            <td>SMILES Name</td>
            <td th:text="${currentCompound.SMILES.Formula}"></td>
        </tr>
        <tr>
            <td>InChi Name</td>
            <td th:text="${currentCompound.InChi.Formula}"></td>
        </tr>
        <tr>
            <td>Molfile</td>
            <td>
                <button id="showButton" type="button" class="btn" onclick="showMol()">Watch molfile</button>
                <br/>
                <p id="molFile" th:text="${currentCompound.MOL.MOLInString}" style="display:none"></p>
            </td>
        </tr>
        <tr>
            <td>Structure</td>
            <td><img id="compoundImage" onload="cropImage()" src="" th:attr="src=@{'/compound-image/'+${currentCompound.Id}}"/></td>
        </tr>
    </table>
    <br/>
    <br/>
    <p>Found in <a th:text="${fromPatent.Name}" th:href="@{'/patents/'+${fromPatent.Id}}"></a></p>
    <br/>
    <a th:href="@{/similar-compounds(id=${currentCompound.Id})}">Find similar compounds</a>
</div>
</body>
</html>