<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compounds in patent</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<h2>Compounds in <a th:href="@{'/patents/'+${currentPatent.Id}}" th:text="${currentPatent.Name}"></a></h2>
<br/>
<br/>
<table id="compoundsList">
    <tr th:each="compound, iterStat: ${compounds}">
        <td><h4><a th:text="${compound.SMILES.Formula}" th:href="@{'/compounds/'+${compound.Id}}" ></a></h4></td>
    </tr>
</table>
</body>
</html>