<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of patents</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<h2>List of patents</h2>
<a href="/">Back to main page</a><br/><br/>
<a th:if="${pageNum} != 1" th:bgcolor="grey" th:href="@{/patent-list(page=${pageNum} - 1)}">previous page</a>
<a th:if="${pageNum} != ${pages}" th:bgcolor="grey" th:href="@{/patent-list(page=${pageNum} + 1)}">next page</a>
<br/>
<br/>
<table id="patentsList">
    <tr th:each="patent, iterStat: ${patents}">
        <td><h4><a th:text="${patent.Name}" th:href="@{'/patents/'+${patent.Id}}" ></a></h4></td>
    </tr>
</table>
</body>
</html>