<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patent info</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<h2>Patent info</h2>
<br/>
<br/>
<a th:href="@{/patent-list(page=${fromPage})}">Back to the list of patents</a>
<br/>
<br/>
<table>
    <tr>
        <td>Name</td>
        <td th:text="${patent.Name}"></td>
    </tr>
    <tr>
        <td>Publication number</td>
        <td th:text="${patent.PublicationNumber}"></td>
    </tr>
    <tr>
        <td>Publication date</td>
        <td th:text="${patent.PublicationDate}"></td>
    </tr>
    <tr>
        <td>Applicant</td>
        <td th:text="${patent.Applicant}"></td>
    </tr>
    <tr>
        <td>IPC classification</td>
        <td th:text="${patent.IPCClassification}"></td>
    </tr>
</table>
<br/>
<br/>
<a th:href="@{/compounds-in-patent(id=${patent.Id})}">Chemical compounds in this patent...</a>
<br/>
<a th:href="@{/similar-patents(id=${patent.Id})}">Find similar patents</a>
</body>
</html>