<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Similar compounds</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<h2>Compounds similar to <a th:href="@{'/compounds/'+${currentCompound.Id}}" th:text="${currentCompound.SMILES.Formula}"></a></h2>
<br/>
<br/>
<p th:if="${similarCompoundsCount} == 0">No similar compounds found</p>
<table id="similarCompoundsList">
    <tr th:each="similarCompound, iterStat: ${similarCompounds}">
        <td><h4><a th:text="${similarCompound.SMILES.Formula}" th:href="@{'/compounds/'+${similarCompound.Id}}"></a></h4></td>
    </tr>
</table>
</body>
</html>