<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Similar patents</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<h2>Patents similar to <a th:href="@{'/patents/'+${currentPatent.Id}}" th:text="${currentPatent.Name}"></a></h2>
<br/>
<br/>
<p th:if="${patentAnalogsCount} == 0">No similar patents found</p>
<table id="similarPatentsList">
    <tr th:each="patentAnalog, iterStat: ${patentAnalogs}">
        <td><h4><a th:text="${patentAnalog.Name}" th:href="@{'/patents/'+${patentAnalog.Id}}"></a></h4></td>
    </tr>
</table>
</body>
</html>